		.hide {
			display: none;
		}
		.edit {
			background-color: #eeeeee;
			position: relative; 
			width: 600px;
			height: 300px;
			line-height: 35px;
			top: -200px;
			left: 25%;
			border-radius:20px;
			z-index:1000;
		}
		.edit p{
			text-align: center;
			color: #fff;
			z-index: 5;
			height: 55px;
			background: #000;
			line-height: 55px;
			font-size: 25px;
			border-radius: 20px 20px 0px 0px;
		}
		.edit button{
			width: 80px;
			font-size: 17px;
			position: relative;
			top: 30px;
			left: 195px;
			padding: 0px 20px;
		}
		.edit>form{
			position: relative;
			left: 10%;
		}
		.input1{
			width: 350px;
			margin-top: 8px;
		}
		.input2{
			width: 80px;
			font-size: 17px;
			position: relative;
			top: 30px;
			left: 85px;
			padding: 0px 20px;
		}
		span{
			font-size: 20px;
		}
		.mark{
	        position:fixed;
	        left:0;
	        top:0;
	        opacity:.5;
	        width:100%;
	        height:100%;
	        background:#000;
	        z-index:998;
	    }
	    .content{
	        position:absolute;
	        z-index:999;
	    }
